body {
      /* Typography Declarations */
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.masthead {
  padding: 1em 0;
  /* background-image: url('tiger.jpg'); */
  background-image: url('https://unsplash.imgix.net/photo-1417722009592-65fa261f5632?q=75&fm=jpg&s=553e7d8a753f4d7b2a4161dcbe9d9801');
  /* background-size: cover stretch; */
  text-align: center;
  font-size: 25px;
  max-width: 26.5em;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px red;
  border-radius: 6px;
}

.masthead-intro {
  color: white;
}

.masthead-intro
.content-footer {
  margin-bottom: 0.1em; 
  text-align: center;
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
}

.masthead-heading {
  color: green;
  margin-top -0.2em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: -0.02em;
  text-shadow: 2px 2px orange; 
}

.intro_section,
.roots_section,
.more_section,
.projects,
.content_footer{
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  background-color:green;
  margin-top: 2em;
  border: solid .5em orange;
  border-radius: 6px;
  padding: 20px;
}

.unsplash {
  color: white;
}

.splash {
  color: white;
}

.social > li {
  display: inline-block; 
}

.introduction > p,
.location > p;
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.screenshots > li  {
	text-align: center;
}

.screenshots > li > p {
	text-align: left;
	font-size: 20px;

}

.karma {
	margin-top: 70px;

}

.more_section > h2 {
  /* Typography Declarations */
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.2 em;
  font-weight: bold;
}

.social > li {
  border-radius: 6px;
  border: solid .15em black;
  margin: 0 15px 0;
  padding: 5px;
}



@media only screen and (max-width: 500px) {
  .masthead-heading {
    font-size: 2em;
  }
}

@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
        height: 500px;
    }
   
}

@media only screen and (max-width: 400px) {
    .content_footer {
  font-size: 10px; 
}
   
}