/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Regular Old CSS Semantics */

html, body, div, span, applet, object, iframe,h1h
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
      /* Typography Declarations */
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

/* My Headline Name */

.kushal {
  /* position: absolute; */
  margin-top: 15px;
  font-style: italic;
  font-size: 60px;
  color: #838994;
  text-align:center;
  margin-left: 400px;
}


/* Top Navigation Elements */

.top-navigation {
  background-color: #fff;
  width: 100%;
  position: fixed;
  border-bottom: 2px solid black;
  background-color: #F0F8FF;
}

.top-navigation > .content {
  height: 4.375rem;
  width: 90%;
  padding: 0 0.938rem;
  margin: 0 auto;
  min-width: 37.5rem;
}

.top-navigation .all-links {
  color: #838994;
  font-size: 1.04rem;
  margin-top: 1.35rem;
  float: right;
}


.top-navigation .all-links > li {
  display: inline;
  margin-left: 1.563rem;
  height: 40px;
  padding: 30px 0;
    }

.top-navigation .all-links > li:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

/* Main Background Image */

.masthead {
  background-image: url('https://unsplash.imgix.net/photo-1428342319217-5fdaf6d7898e?fit=crop&fm=jpg&h=500&q=75&w=1050');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55.938rem;
  overflow: auto;
}

.masthead-heading {
  margin-top -0.2em;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  font-size: 3em;
  letter-spacing: -0.02em;
  color: #838994;
}

/* Project Section */

.the-man, .the-myth, .the-legend {
  position: absolute;
  font-size: 70px;
  font-style: italic;
  color: #838994;
}

.the-man {
  margin-top: 178px;
  margin-left: 127px;
}

.the-myth {
  margin-top: 178px;
  margin-left: 1735px;
}

.the-legend {
  margin-top: 675px;
  margin-left: 865px;
  color: white;
}

.icon-section {
  background-color: #F0F8FF;
}

.icon-section .content {
  text-align: center;
  width: 100%;
  background-color: #F0F8FF;
}

.image-list > li {
  display: inline-block;
  margin: 0 150px 0;
  margin-top: 40px;
}


.icon-section .content > h1 {
  display: inline-block;
  color: black;
  font-weight: 300;
  text-align: left;
  text-align: top;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 50px;
}

.icon-section .content > h1:hover {
  cursor: pointer;
  font-style: italic;
  background-color: black;
  color: white;
}

.icon-section-2 {
  background-color: #F0F8FF;
}

.cap-text {
  margin-bottom: 2em;
}

.icon-section-2 .content {
  text-align: center;
  width: 100%;
  background-color: #F0F8FF;
}


.icon-section-2 .content > h1 {
  display: inline-block;
  color: black;
  font-weight: 300;
}

/* Footer Section */

.content_footer {
  /*max-width: 38em;*/
  margin-left: auto;
  margin-right: auto;
  background-color:green;
  /* margin-top: 2em; */
  border: solid 2px black;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
}

.unsplash {
  color: white;
}

.splash {
  color: white;
}

.social > li {
  display: inline-block; 
}

.social > li {
  border-radius: 6px;
  border: solid .15em black;
  margin: 0 15px 0;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

